<!DOCTYPE html>
<html>
<head>
	<title>Prueba DBaaS</title>
</head>
<body>
	<h1>Prueba de Perros</h1>

	<form method="get" action="/allDogs" style="padding-bottom:5px;">
		<button type="submit">Ver los perros</button>
	</form>

	<form method="get" action="/newDog">
		<button type="submit">Agregar un perro</button>
	</form>
</body>
</html>