<!DOCTYPE html>
<html>
<head>
	<title>Agregar perro</title>
</head>
<body>
	<h1 style="padding-bottom: 5px;">Agregar un nuevo perro</h1>

	<form method="post" action="/newDog">
		<input type="text" name="name" placeholder="name">
		<input type="text" name="breed" placeholder="breed">
		<button type="submit">Agregar perro</button>
	</form>
	
	<a href="/">Back</a>
</body>
</html>